DATABASE_URL="postgres://user:password@hostname/dbname?pgbouncer=true"

NEXTAUTH_SECRET="your-super-secret-32-character-string"

NEXTAUTH_URL="http://localhost:3000"

APIFY_API_TOKEN="apify_api_your_token_here"

OPENAI_API_KEY="sk-proj-your_openai_api_key_here"

OPENAI_MODEL="gpt-4o-mini"

CLOUDINARY_URL="cloudinary://123456789:abcdefghijklmnop@your_cloud_name"

NODE_ENV="development"
